.app-container {
  width: 100vw;
  height: 100vh;
  padding: 75px;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.app-container {
  display: grid;
  grid-template-columns: 3fr 3.5fr;
  gap: 40px;
}

.excercise-list-widget,
.workout-widget {
  /* From https://css.glass */
  background: rgba(17, 17, 17, 0.93);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(17, 17, 17, 1);
  border-radius: 32px;
}

.excercise-list-widget {
  display: grid;
  overflow: hidden;
  grid-template-rows: 100px auto;
}

.input-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px;
}

#muscle-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #4365de;
  font-size: 24px;
  color: #4365de;
  outline: none;
}

.excercise-list {
  padding: 20px 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.workout-widget {
  display: grid;
  grid-template-rows: 100px auto 150px;
  overflow-y: hidden;
}

.workout-planning {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0px 40px;
  padding-top: 20px;
  box-sizing: border-box;
  gap: 30px;
  max-height: 100%;
  overflow-x: hidden;
}

#search-btn {
  background-color: #4365de;
  font-size: 20px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.date-selection {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-selection > h3 {
  color: #4365de;
  font-size: 32px;
}

.date-selection > button {
  color: #4365de;
  font-size: 60px;
  background: none;
  border: none;
  cursor: pointer;
}

.workout-buttons {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.workout-buttons > button {
  background-color: #4365de;
  padding: 20px 20px;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 22px;
  transition: transform 0.2s ease;
  cursor: pointer;
  width: 45%;
}

.search-btn {
  position: absolute;
  background: none;
  color: #4365de;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #4365de;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.timer-block > h5 {
  color: #4365de;
  font-size: 20px;
}

.search-btn:hover {
  background-color: #4365de;
  color: white;
}

.workout-buttons > button:hover {
  transform: translateY(-5px);
}

.workout-adder {
  background-color: #111111;
  width: 1000px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 32px;
  display: grid;
  grid-template-rows: 100px auto 80px;
}

.workout-timer-window {
  background-color: #111111;
  width: 1000px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 32px;
  display: grid;
  grid-template-rows: 100px auto 100px;
}

.timer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.excercises-timer {
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  overflow-y: scroll;
  flex-direction: column;
  gap: 25px;
}

.timer-block > h1 {
  color: #4365de;
  font-weight: 500;
}

.timer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border: 4px solid #4365de;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes myAnim {
  0%,
  50%,
  100% {
    background-color: #af2929;
  }

  25%,
  75% {
    background-color: #3107079f;
  }
}

.timer-on {
  animation: myAnim 2s ease 0s infinite normal forwards;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgb(56, 56, 56);
}

.timer-btns {
  display: flex;
  padding: 0px 40px;
  justify-content: space-around;
  align-items: center;
}

.timer-btns > button {
  width: 23%;
  padding: 5px 25px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

#btn1 {
  background-color: rgba(32, 203, 111, 0.6);
  border: 4px solid rgba(32, 203, 111);
}

#btn1:hover {
  background-color: rgba(32, 203, 111);
}

#btn2 {
  background-color: rgba(244, 229, 94, 0.6);
  border: 4px solid rgb(244, 229, 94);
}

#btn2:hover {
  background-color: rgb(244, 229, 94);
}

#btn3 {
  background-color: rgba(230, 116, 68, 0.6);
  border: 4px solid rgb(230, 116, 68);
}

#btn3:hover {
  background-color: rgb(230, 116, 68);
}

#btn4 {
  background-color: rgba(222, 67, 67, 0.6);
  border: 4px solid rgba(222, 67, 67);
}

#btn4:hover {
  background-color: rgba(222, 67, 67);
}

.name-input {
  display: flex;
  padding: 0px 40px;
  align-items: center;
}

#excercise-name-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #4365de;
  font-size: 24px;
  color: #4365de;
  outline: none;
}

.details {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  padding: 0px 40px;
  gap: 20px;
}

.time-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#time-input {
  width: 100%;
  height: 60%;
  font-size: 180px;
  text-align: center;
  color: #4365de;
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
}

.time-choose > h3 {
  color: #4365de;
  font-size: 32px;
}

.finish {
  padding: 20px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.finish > button {
  border-radius: 10px;
  background-color: #4365de;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.choose-point {
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: none;
}

.color-choose {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1625px) {
  .date-selection {
    padding: 0px 30px;
  }
  .input-field {
    padding: 0px 30px;
  }
  #muscle-input {
    font-size: 18px;
  }
  .date-selection > h3 {
    font-size: 22px;
  }
  .workout-buttons {
    padding: 0px 30px;
    justify-content: space-around;
  }
  .workout-buttons > button {
    padding: 10px 5px;
    font-size: 12px;
  }
  .workout-widget {
    grid-template-rows: 100px auto 100px;
  }
  .app-container {
    padding: 25px;
    gap: 20px;
  }
  .workout-planning {
    padding: 30px;
    padding-bottom: 0px;
  }
  .excercise-list {
    padding: 30px;
  }
}
